<app-default-auth-layout>
  <app-auth-title title="Redefinir Senha" />

  <app-alert *ngIf="mensagemErro" [mensagem]="mensagemErro" tipo="danger" />

  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-input-field
      label="Código"
      name="verificationCode"
      type="text"
      [control]="form.controls.verificationCode"
      errorMessage="Senha obrigatória (mínimo 6 caracteres)"
    />
    <app-input-field
      label="Senha"
      name="newPassword"
      type="password"
      [control]="form.controls.newPassword"
      errorMessage="Senha obrigatória (mínimo 6 caracteres)"
    />
    <app-input-field
      label="Repita a senha Senha"
      name="password"
      type="password"
      [control]="form.controls.password"
      errorMessage="Senha obrigatória (mínimo 6 caracteres)"
    />

    <div class="text-end mt-2 mb-3">
      <a routerLink="/login" class="link-offset-1">voltar para o login</a>
    </div>

    <div class="d-grid gap-2">
      <app-button
        label="Nova senha"
        variant="success"
        type="submit"
      ></app-button>
    </div>

    <div class="mt-2">
      <p>
        Ainda não tem uma conta?
        <a routerLink="/cadastro" class="link-offset-1">Criar conta</a>
      </p>
    </div>
  </form>
</app-default-auth-layout>
