<app-default-auth-layout>
  <app-auth-title title="Acessar Conta" />

  <app-alert *ngIf="mensagemErro" [mensagem]="mensagemErro" tipo="danger" />

  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-input-field
      label="E-mail"
      name="email"
      type="email"
      [control]="form.controls.email"
      errorMessage="E-mail inválido"
    />

    <app-input-field
      label="Senha"
      name="senha"
      type="password"
      [control]="form.controls.senha"
      errorMessage="Senha obrigatória (mínimo 6 caracteres)"
    />

    <div class="text-end mt-2 mb-3">
      <a routerLink="/redefinir-senha" class="link-offset-1">Recuperar senha</a>
    </div>

    <div class="d-grid gap-2">
      <app-button label="Login" variant="success" type="submit"></app-button>
    </div>

    <div class="mt-2">
      <p>
        Ainda não tem uma conta?
        <a routerLink="/cadastro" class="link-offset-1">Criar conta</a>
      </p>
    </div>
  </form>
</app-default-auth-layout>
