<ul class="list-unstyled mt-2 ms-1" *ngIf="senha && senha.length > 0">
  <li [class.text-success]="senhaTemMinimo()">
    <i
      class="bi"
      [ngClass]="senhaTemMinimo() ? 'bi-check-circle-fill' : 'bi-circle'"
    ></i>
    Mínimo 6 caracteres
  </li>
  <li [class.text-success]="senhaTemMaiuscula()">
    <i
      class="bi"
      [ngClass]="senhaTemMaiuscula() ? 'bi-check-circle-fill' : 'bi-circle'"
    ></i>
    Letra maiúscula
  </li>
  <li [class.text-success]="senhaTemMinuscula()">
    <i
      class="bi"
      [ngClass]="senhaTemMinuscula() ? 'bi-check-circle-fill' : 'bi-circle'"
    ></i>
    Letra minúscula
  </li>
  <li [class.text-success]="senhaTemNumero()">
    <i
      class="bi"
      [ngClass]="senhaTemNumero() ? 'bi-check-circle-fill' : 'bi-circle'"
    ></i>
    Número
  </li>
  <li [class.text-success]="senhaTemEspecial()">
    <i
      class="bi"
      [ngClass]="senhaTemEspecial() ? 'bi-check-circle-fill' : 'bi-circle'"
    ></i>
    Caractere especial (!&#64;#$%)
  </li>
</ul>
