<app-default-auth-layout>
  <app-auth-title title="Redefinir Senha" />

  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-input-field
      label="E-mail"
      name="email"
      type="email"
      [control]="form.controls.email"
      errorMessage="E-mail inválido"
    />

    <div class="text-end mt-2 mb-3">
      <a routerLink="/login" class="link-offset-1">Voltar ao login</a>
    </div>

    <div class="d-grid gap-2">
      <app-button label="Resetar" variant="success" type="submit"></app-button>
    </div>

    <div class="mt-2">
      <p>
        Ainda não tem uma conta?
        <a routerLink="/cadastro" class="link-offset-1">Criar conta</a>
      </p>
    </div>
  </form>
</app-default-auth-layout>
